<ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="addAlergia()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Pessoal : Alergias</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" text="Anterior" defaultHref="/pessoal-doencas"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Criar perfil</ion-title> -->
    <ion-buttons slot="primary">
      <ion-button size="small" (click)="irParaProximaTela()">Próximo
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>