<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil pessoal</ion-title>
    <!--<ion-buttons slot="primary" *ngIf="usuario?.perfilPessoal?.id != null">
      <ion-button fill="outline" (click)="modificarPessoalBase()">Editar
      </ion-button>
    </ion-buttons>-->

    <ion-buttons slot="primary">
      <!-- <ion-button icon-only (click)="menuUsuario($event)"> -->
      <ion-button icon-only (click)="showPopover($event)">
        <ion-icon name="person"></ion-icon>
        <!-- <ion-icon name="contact"></ion-icon> -->
        <!-- <ion-avatar>
          <img src="../../assets/img/avatar-blank.png">
        </ion-avatar> -->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--
  <ion-avatar class="avatar-center">
    <img src="../../assets/img/avatar-blank.png">
  </ion-avatar>
  <ion-item class="center">
    <ion-label text-wrap >
      <ion-text>
        <h2><b>{{ usuario?.nome }}</b></h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <br>
  -->

  <ion-item *ngIf="usuarioCarregado == true">
    <ion-avatar slot="start">
      <img [src]="usuario?.urlAvatar || '../../assets/img/avatar-blank.png'">
    </ion-avatar>
    <ion-label text-wrap>
      <h2>{{ usuario?.nome }}</h2>
    </ion-label>
  </ion-item>

  <div *ngIf="usuario?.perfilPessoal == null && usuarioCarregado == true">
    <p text-center>{{ usuario?.email }}</p>
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input readonly>{{ usuario?.tefefone }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CPF:</ion-label>
      <ion-input readonly>{{ usuario?.cpf }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">RG</ion-label>
      <ion-input readonly>{{ usuario?.rg }}</ion-input>
    </ion-item>
  </div>


  <ion-card *ngIf="usuario?.perfilPessoal != null">
    <!-- <ion-list lines="none"> -->
    <ion-item class="activated" (click)="exibirPessoalBase()">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Informações pesoais</ion-label>
    </ion-item>

    <ion-item (click)="exibirPessoalMedicamentos()">
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-item>

    <ion-item class="activated" (click)="exibirPessoalDoencas()">
      <ion-icon name="nuclear" slot="start"></ion-icon>
      <ion-label>Doenças</ion-label>
    </ion-item>

    <ion-item (click)="exibirPessoalAlergias()">
      <ion-icon name="snow" slot="start"></ion-icon>
      <ion-label>Alergias</ion-label>
    </ion-item>

    <ion-item class="activated" (click)="exibirPessoalDrogas()">
      <!-- <ion-icon name="jet" slot="start"></ion-icon> -->
      <ion-icon name="leaf" slot="start"></ion-icon>
      <ion-label>Drogas</ion-label>
    </ion-item>

    <ion-item (click)="exibirPessoalCirurgias()">
      <ion-icon name="pulse" slot="start"></ion-icon>
      <ion-label>Cirurgias</ion-label>
    </ion-item>

    <ion-item class="activated" (click)="exibirPessoalDependentes()">
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>Dependentes</ion-label>
    </ion-item>

    <ion-item (click)="exibirPessoalPermissoes()">
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-label>Permissões</ion-label>
    </ion-item>

    <ion-item class="activated" (click)="exibirFichaMedica()">
      <ion-icon name="medical" slot="start"></ion-icon>
      <ion-label>Ficha médica</ion-label>
    </ion-item>

  </ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="usuario?.perfilPessoal == null && 
            usuarioCarregado == true && usuarioCarregado == false">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="primary" (click)=addPerfilPessoal()>
        <ion-icon name="finger-print"></ion-icon>
      </ion-fab-button>
      <!--
      <ion-fab-button color="danger"><ion-icon name="business"></ion-icon></ion-fab-button>
      <ion-fab-button color="dark"><ion-icon name="medkit"></ion-icon></ion-fab-button>
      <ion-fab-button color="secondary"><ion-icon name="contacts"></ion-icon></ion-fab-button>
      -->
    </ion-fab-list>
    <!--
    <ion-fab-list side="start">
      <ion-fab-button color="light"><ion-icon name="medical"></ion-icon></ion-fab-button>
    </ion-fab-list>
    -->
  </ion-fab>

</ion-content>