<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="exibirBarraDeNavegacao == true">
      <ion-button (click)="cancelarEdicao()" *ngIf="somenteLeitura != true">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons  slot="primary" *ngIf="exibirBarraDeNavegacao == true">
      <ion-button (click)="gravarDados(form.value)" *ngIf="somenteLeitura != true">OK</ion-button>
      <ion-button (click)="irParaTelaHome()"        *ngIf="somenteLeitura == true">OK</ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="exibirBarraDeNavegacao != true">
      <ion-back-button  icon="arrow-back" 
                        text="Voltar" 
                        defaultHref="/pessoal" 
                        *ngIf="somenteLeitura == true">
      </ion-back-button>
      <ion-button (click)="setRegistroModoVisualizar()" *ngIf="somenteLeitura != true">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="exibirBarraDeNavegacao != true">
      <ion-button (click)="gravarDados(form.value)"   *ngIf="somenteLeitura != true">OK</ion-button>
      <ion-button (click)="setRegistroModoEditar()"   *ngIf="somenteLeitura == true">Editar</ion-button>
    </ion-buttons>
    <ion-title>{{ tituloJanela }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- -------------------------------------------------------------------------------- -->
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>
    
    <ion-list>
      <ion-item>
        <ion-label  position="stacked">Nome</ion-label>
        <ion-input  type="text" 
                    name="nome" 
                    required
                    readonly=true
                    [ngModel]="usuario?.nome"
                    [ngModel] required #nome="ngModel"
                    [class.invalid]="nome.errors && nome.dirty"
                    >
        </ion-input>
      </ion-item>
      <br>

      <ion-item *ngIf="modoCRUD == 'X'">
        <ion-label  position="stacked">Telefone</ion-label>
        <ion-input  type="text" 
                    name="telefone" 
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.tefefone" 
                    ngModel required #telefone="ngModel"></ion-input>
      </ion-item>

      <ion-item *ngIf="modoCRUD == 'X'">
        <ion-label  position="stacked">CPF</ion-label>
        <ion-input  type="text" 
                    name="cpf" 
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.cpf" 
                    ngModel required #cpf="ngModel"></ion-input>
      </ion-item>

      <ion-item *ngIf="modoCRUD == 'X'">
        <ion-label  position="stacked">RG</ion-label>
        <ion-input  type="text" 
                    name="rg" 
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.rg" 
                    ngModel required #rg="ngModel"></ion-input>
      </ion-item>      
   
      <ion-item *ngIf="somenteLeitura != true">
        <ion-label>Gênero</ion-label>
        <!-- [(ngModel)]="cmb_genero" -->
        <ion-select name="sexo"
                    [ngModel]="usuario?.perfilPessoal?.sexo"
                    disabled={{somenteLeitura}}
                    placeholder="Selecione">
          <ion-select-option value="F">Feminino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="somenteLeitura == true">
        <ion-label  position="stacked">Gênero</ion-label>
        <ion-input  type="text" 
                    name="sexo" 
                    readonly={{somenteLeitura}}
                    [ngModel]="generoDescricao()" 
                    ngModel required #sexo="ngModel"></ion-input>
      </ion-item>     


      <ion-item *ngIf="usuario?.perfilPessoal?.nascimento != '' || somenteLeitura == false">
        <ion-label  position="stacked">Data de nascimento</ion-label>
        <ion-input  type="text" 
                    name="nascimento"
                    placeholder="dd/mm/yyyy"
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.nascimento"
                    ngModel required #nascimento="ngModel"></ion-input>
      </ion-item>

      <ion-item *ngIf="usuario?.perfilPessoal?.altura != '' || somenteLeitura == false">
        <ion-label  position="stacked">Altura</ion-label>
        <ion-input  type="number" 
                    name="altura"
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.altura"
                    ngModel required #altura="ngModel"></ion-input>
      </ion-item>      

      <ion-item *ngIf="usuario?.perfilPessoal?.peso != '' || somenteLeitura == false">
        <ion-label  position="stacked">Peso</ion-label>
        <ion-input  type="number" 
                    name="peso"
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.peso"
                    ngModel required #peso="ngModel"></ion-input>
      </ion-item>

      <ion-item *ngIf="somenteLeitura != true">
        <ion-label>Tipo sanguíneo</ion-label>
        <!-- [interfaceOptions]="customPopoverOptions"  interface="popover"  -->
        <ion-select name="tipoSangue" 
                    placeholder="Selecione"
                    [ngModel]="usuario?.perfilPessoal?.tipoSangue"
                    multiple="false">
          <ion-select-option value="A+">A+</ion-select-option>
          <ion-select-option value="A-">A-</ion-select-option>
          <ion-select-option value="B+">B+</ion-select-option>
          <ion-select-option value="B-">B-</ion-select-option>
          <ion-select-option value="AB+">AB+</ion-select-option>
          <ion-select-option value="AB-">AB-</ion-select-option>
          <ion-select-option value="O+">O+</ion-select-option>
          <ion-select-option value="O-">O-</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="somenteLeitura == true">
        <ion-label  position="stacked">Tipo sanguíneo</ion-label>
        <ion-input  type="text" 
                    name="tipoSangue" 
                    readonly={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.tipoSangue"
                    ngModel required #tipoSangue="ngModel"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Pratica esporte</ion-label>
        <ion-toggle name="praticaEsporte"
                    disabled={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.praticaEsporte"
                    >
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Doador de órgãos</ion-label>
        <ion-toggle name="doadorOrgao"
                    disabled={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.doadorOrgao"
                    >
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Doador de sangue</ion-label>
        <ion-toggle name="doadorSangue"
                    disabled={{somenteLeitura}}
                    [ngModel]="usuario?.perfilPessoal?.doadorSangue"
                    >
        </ion-toggle>
      </ion-item>



      <!--
      <div padding>
        <ion-button color="primary" 
          expand="block" 
          type="submit" 
          [disabled]="!form.valid">Gravar dados
        </ion-button>
      </div>
      -->
      <br>
      <div *ngIf="usuario?.perfilPessoal?.id != null && modoCRUD == 'U'">
        <ion-button 
          color="danger"  
          expand="block" 
          type="button" 
          (click)="deletePerfilPessoal()">Excluir perfil Pessoal
        </ion-button>
      </div>      
  
    </ion-list>

  </form>
</ion-content>

<!------------------------------------------------------------------------------>
<ion-footer>
    <ion-toolbar *ngIf="exibirBarraDeNavegacao == true">
    <!--
    <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back" 
                        text="Anterior" 
                        defaultHref="/pessoal">
      </ion-back-button>
    </ion-buttons>
    -->
    <ion-buttons slot="primary">
      <ion-button size="small" (click)="irParaProximaTela(form.value)">Próximo
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>