<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pessoal"></ion-back-button>
    </ion-buttons>
    <ion-title>Informações gerais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>
    
    <ion-list>

      <ion-item>
        <ion-label  position="stacked">Nome</ion-label>
        <ion-input  type="text" 
                    name="nome" 
                    required
                    [ngModel]="perfilUsuario?.nome"
                    ngModel required #nome="ngModel"
                    [class.invalid]="nome.errors && nome.dirty"
                    >
        </ion-input>
      </ion-item>

      <!--
      <ion-item>
        <ion-label  position="stacked">E-mail</ion-label>
        <ion-input  type="email" name="email"
                    [ngModel]="perfilUsuario?.email"
                    ngModel required email #email="ngModel"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label  position="stacked">Telefone</ion-label>
        <ion-input  type="text" name="telefone" 
                    [ngModel]="perfilUsuario?.tefefone" 
                    ngModel required #telefone="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="stacked">CPF</ion-label>
        <ion-input  type="text" name="cpf" 
                    [ngModel]="perfilUsuario?.cpf" 
                    ngModel required #cpf="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="stacked">RG</ion-label>
        <ion-input  type="text" name="rg" 
                    [ngModel]="perfilUsuario?.rg" 
                    ngModel required #cpf="ngModel"></ion-input>
      </ion-item>      
   
      <ion-item>
        <ion-label  position="stacked">Sexo</ion-label>
        <ion-input  type="text" name="sexo"
                    [ngModel]="perfilUsuario?.perfilPessoal?.sexo"
                    ngModel required #sexo="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="stacked">Data de nascimento</ion-label>
        <ion-input  type="text" name="nascimento"
                    [ngModel]="perfilUsuario?.perfilPessoal?.nascimento"
                    ngModel required #nascimento="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="stacked">Altura</ion-label>
        <ion-input  type="number" name="altura"
                    [ngModel]="perfilUsuario?.perfilPessoal?.altura"
                    ngModel required #altura="ngModel"></ion-input>
      </ion-item>      

      <ion-item>
        <ion-label  position="stacked">Peso</ion-label>
        <ion-input  type="number" name="peso"
                    [ngModel]="perfilUsuario?.perfilPessoal?.peso"
                    ngModel required #peso="ngModel"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label  position="stacked">Doador de órgãos</ion-label>
        <ion-input  type="text" name="doadorOrgao"
                    [ngModel]="perfilUsuario?.perfilPessoal?.doadorOrgao"
                    ngModel #doadorOrgao="ngModel"></ion-input>
      </ion-item>


      <!--
      tipoSangue: "AB-"
      doadorSangue: true
      praticaEsporte
      -->



  
      <div padding>
        <ion-button color="primary" expand="block" type="submit" 
        [disabled]="!form.valid">Registrar</ion-button>
      </div>
  
    </ion-list>


  </form>
</ion-content>
  

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button size="small" fill="outline">Anterior</ion-button>
    </ion-buttons>
    <ion-title>Criar perfil</ion-title>
    <ion-buttons slot="primary">
      <ion-button size="small" fill="outline" (click)="irParaProximaTela()">Próximo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>