<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="exibirBarraDeNavegacao == true">
      <ion-button (click)="irParaTelaHome()" *ngIf="somenteLeitura != true">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons  slot="primary" *ngIf="exibirBarraDeNavegacao == true">
      <ion-button (click)="gravarDados(true)"       *ngIf="somenteLeitura != true">OK</ion-button>
      <ion-button (click)="irParaTelaHome()"        *ngIf="somenteLeitura == true">OK</ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="exibirBarraDeNavegacao != true">
      <ion-back-button  icon="arrow-back" 
                        text="Voltar" 
                        defaultHref="/pessoal"
                        *ngIf="somenteLeitura == true">
      </ion-back-button>
      <ion-button (click)="setRegistroModoVisualizar()" *ngIf="somenteLeitura != true">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="exibirBarraDeNavegacao != true">
      <ion-button (click)="gravarDados(false)"        *ngIf="somenteLeitura != true">OK</ion-button>
      <ion-button (click)="setRegistroModoEditar()"   *ngIf="somenteLeitura == true">Editar</ion-button>
    </ion-buttons>
    <ion-title>{{ tituloJanela }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- -------------------------------------------------------------------------------- -->
<ion-content padding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="somenteLeitura != true">
    <ion-fab-button (click)=adicionarRegistro()>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines>
    <ion-item-sliding *ngFor="let item of listaItens; index as pos" #slidingItem text-wrap>
      <ion-item (click)="exibirRegistro(item)">
        <ion-label text-wrap>

          <h2><b>{{ item?.droga?.nome }}</b></h2>
          <h3 *ngIf="(item?.droga?.nomePopular != null && item?.droga?.nomePopular != '')">  
            Nomes Populares: {{ item?.droga?.nomePopular }} </h3>
          <h3 *ngIf="(item?.droga?.descricao != null && item?.droga?.descricao != '')">  
            Descrição: {{ item?.droga?.descricao }} </h3>
          <h3 *ngIf="(item?.droga?.efeitos != null && item?.droga?.efeitos != '')">  
            Efeitos: {{ item?.droga?.efeitos }} </h3>
          <h3 *ngIf="(item?.droga?.consequenciasNegativas != null && item?.droga?.consequenciasNegativas != '')">  
            Consequencias negativas: {{ item?.droga?.consequenciasNegativas }} </h3>
          <h3 *ngIf="(item?.frequecia != null && item?.frequecia != '')">  
            Frequência: {{ item?.frequecia }} </h3>
          <h3 *ngIf="(item?.observacao != null && item?.observacao != '')">  
            Observação: {{ item?.observacao }} </h3>

        </ion-label>
      </ion-item>
      
      <ion-item-options side="end" 
                        (ionSwipe)="deleteRow(slidingItem, $event, item, pos, false)"
                        disabled = "somenteLeitura"
                        >
        <ion-item-option  (click)="editRow(slidingItem, item, pos)"
                          disabled = "somenteLeitura"
                          >Modificar
        </ion-item-option>
        <ion-item-option  color="danger" 
                          expandable 
                          (click)="deleteRow(slidingItem, $event, item, pos, true)" 
                          >Excluir
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>  
  </ion-list>

</ion-content>
<!------------------------------------------------------------------------------>
<ion-footer>
  <ion-toolbar *ngIf="exibirBarraDeNavegacao == true">
    <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back" 
                        text="Anterior" 
                        defaultHref="navegacaoPaginaAnterior">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="navegacaoProximaPagina != ''">
      <ion-button size="small" (click)="irParaProximaTela()">Próximo
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>