<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pessoal : Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>   

  <ion-list>
    <button ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>{{ item.nome }}</ion-label>
    </button>
  </ion-list>


</ion-content>