<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irParaTelaHome()" *ngIf="somenteLeitura == true">
          <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="cancelarEdicao()" *ngIf="somenteLeitura != true">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="somenteLeitura != true">
      <ion-button (click)="gravarDados()">
          <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="somenteLeitura != true">
      <ion-button (click)="adicionarRegistro()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{tituloJanela}}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- -------------------------------------------------------------------------------- -->
<ion-content padding>
  <ion-content>
    <ion-list lines>
      <!-- (click)="selecionarMedicamento(item)
      -->
        <ion-item *ngFor="let item of medicamentos; index as pos" text-wrap  
                  (click)="exibirMedicamento(item)">
          <ion-label>
            <h2>{{ item?.medicamento?.nome }}</h2>
            <p>Concentracao: {{ item?.medicamento?.concentracao }}</p>
            <p>Código ATC: {{ item?.medicamento?.codigoATC }}</p>
            <p>Forma Farm: {{ item?.medicamento?.formaFarmaceutica }}</p>
            <p *ngIf="(item?.dosagem != null && item?.dosagem != '')">  
              Dosagem: {{ item?.dosagem }} 
            </p>
            <p *ngIf="(item?.frequencia != null && item?.frequencia != '')">  
              Frequência: {{ item?.frequencia }}
            </p>
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="editRow(pos, item)" *ngIf="somenteLeitura != true">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="deleteRow(pos)" *ngIf="somenteLeitura != true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-content>
<!------------------------------------------------------------------------------>
<ion-footer>
  <ion-toolbar *ngIf="somenteLeitura != true">
    <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back" text="Anterior" defaultHref="/pessoal">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button size="small" (click)="irParaProximaTela()">Próximo
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>