<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pessoal-doenca"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tituloJanela }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-searchbar  #searchBar
                  [(ngModel)]="searchTerm" 
                  [showCancelButton]="false"
                  type="search" 
                  placeholder="medicamento (mínimo 3 caracteres)"
                  (keyup.enter)="search(searchBar.value)"
                  [ngModelOptions]="{standalone: true}"
                  >
  </ion-searchbar>
  <ion-list lines>
    <ion-item *ngFor="let item of lista_items" (click)="selecionarRegistro(item)">
      <ion-label text-wrap>
        <h2> {{ item?.nome }} </h2>
        <p *ngIf="item?.nomePopular != null"> Nome popular: {{ item?.nomePopular }}</p>
        <p *ngIf="item?.descricao != null"> Descrição: {{ item?.descricao }} </p>
        <p *ngIf="item?.efeitos != null"> Efeitos: {{ item?.efeitos }} </p>
        <p *ngIf="item?.consequenciasNegativas != null"> Consequências negativas: {{ item?.consequenciasNegativas }} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>